$bg-color: #f5f5f5;
$color-details: #7d5ef9;

body {
  background-color: $bg-color;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
}

.carousel img {
  border-radius: 5px;
  border: 1px solid #ddd;
}

.carousel-indicators {
  li {
    border: 1px solid $color-details;
  }
  .active {
    background-color: $color-details;
  }
}

.list-group-item.active, .list-group-item.active:hover {
  background-color: $color-details;
  border-color: $color-details;
}

.project {
  background-image: url("../img/project.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 50px 0px 100px;
  a {
    text-decoration: none;
    color: #555;
  }
  .box {
    background-color: #FFF;
    border-radius: 5px;
    height: 200px;
    transition: all .2s ease-in-out;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 3px 1px rgba(125, 94, 251, 0.3);
    }
  }
  h5 {
    padding: 10px;
    background-color: $color-details;
    color: #FFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  p {
    padding: 10px;
  }
}