$bg-color: #fff;
$color-details: #f70163;

body {
  background-color: $bg-color;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
}

.carousel img {
  border-radius: 5px;
  border: 1px solid #ddd;
}

.carousel-indicators {
  li {
    border: 1px solid $color-details;
  }
  .active {
    background-color: $color-details;
  }
}

.list-group-item.active, .list-group-item.active:hover {
  background-color: $color-details;
  border-color: $color-details;
}

.project {
  background-image: url("../img/project.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 50px 0px 100px;
  a {
    text-decoration: none;
    color: #555;
  }
  .box {
    background-color: #FFF;
    text-align: center;
    border-radius: 5px;
    height: 250px;
    transition: all .2s ease-in-out;
    border: 1px solid rgba(247, 1, 104, 1);
    background-color: transparent;
    color: #222;
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 3px 1px rgba(125, 94, 251, 0.3);
    }
    h1 {
      padding: 20px 0px;
    }

  }
  h5 {
    padding: 10px;
    text-align: left;
    margin: 0px;
    background-color: $color-details;
    color: #FFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  p {
    padding: 10px;
    text-align: left;
  }
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background-color: $color-details;
  border-bottom: 1px solid $color-details;
  color: #fff;
}

a {
  color: #9d9d9d
}
.nav-tabs, .nav-tabs>li>a:hover {
 border-bottom: 1px solid $color-details;
}

.help {
  @extend .project;
  background-image: none;
}
.partners {
  @extend .project;
  background-image: none;
  background-color: #9d9d9d;
}